<div class="facilities__container">

  <h2>Other facilities</h2>

  <div class="facilities__nav">
    <ul class="tabs facilities__tabs" data-responsive-accordion-tabs="accordion medium-tabs large-tabs" id="facilities__tabs">
      <li class="tabs-title is-active"><a href="#panel1" aria-selected="true">Spa</a></li>
      <li class="tabs-title"><a href="#panel2">Massage</a></li>
      <li class="tabs-title"><a href="#panel3">City Breaks</a></li>
      <li class="tabs-title"><a href="#panel4">Relaxation Area</a></li>
    </ul>
  </div>
  
  <div class="tabs-content facilities__content" data-tabs-content="facilities__tabs">
    <div class="tabs-panel is-active" id="panel1">
      <div class="facilities__tab">

        <div class="facilities__card">
          <img src="{{root}}/assets/img/small/spa-small-1.jpg" alt="Hotel facility spa">
          <div class="facilities__details">
            <span class="facilities__text">Natural Detox Drinks</span>
          </div>
        </div>

        <div class="facilities__card">
          <img src="{{root}}/assets/img/small/spa-small-2.jpg" alt="Hotel facility spa 2">
          <div class="facilities__details">
            <span class="facilities__text">Let Us Care About Your Body</span>
          </div>
        </div>

        <div class="facilities__card">
          <img src="{{root}}/assets/img/small/spa-small-3.jpg" alt="Hotel facility spa 3">
          <div class="facilities__details">
            <span class="facilities__text">naturopathic medicine</span>
          </div>
        </div>

        <div class="facilities__card">
          <img src="{{root}}/assets/img/small/spa-small-4.jpg" alt="Hotel facility spa 4">
          <div class="facilities__details">
            <span class="facilities__text">New and comfortable equipment</span>
          </div>
        </div>

      </div>
    </div>

    <div class="tabs-panel " id="panel2">
      <div class="facilities__tab">

        <div class="facilities__card">
          <img src="{{root}}/assets/img/small/massage-small-1.jpg" alt="Hotel facility massage">
          <div class="facilities__details">
            <span class="facilities__text">Aromatherapy Massage</span>
          </div>
        </div>

        <div class="facilities__card">
          <img src="{{root}}/assets/img/small/massage-small-2.jpg" alt="Hotel facility massage 2">
          <div class="facilities__details">
            <span class="facilities__text">Hot stone back massage</span>
          </div>
        </div>

        <div class="facilities__card">
          <img src="{{root}}/assets/img/small/massage-small-3.jpg" alt="Hotel facility massage 3">
          <div class="facilities__details">
            <span class="facilities__text">Thai Massage</span>
          </div>
        </div>

        <div class="facilities__card">
          <img src="{{root}}/assets/img/small/massage-small-4.jpg" alt="Hotel facility massage 4">
          <div class="facilities__details">
            <span class="facilities__text">Reflexology massage</span>
          </div>
        </div>

      </div>
    </div>

    <div class="tabs-panel " id="panel3">
      <div class="facilities__tab">

        <div class="facilities__card">
          <img src="{{root}}/assets/img/small/mountains-small-1.jpg" alt="Hotel facility city">
          <div class="facilities__details">
            <span class="facilities__text">Amazing Snodonia</span>
          </div>
        </div>

        <div class="facilities__card">
          <img src="{{root}}/assets/img/small/mountains-small-2.jpg" alt="Hotel facility city 2">
          <div class="facilities__details">
            <span class="facilities__text">Beutiful Cornwall</span>
          </div>
        </div>

        <div class="facilities__card">
          <img src="{{root}}/assets/img/small/mountains-small-3.jpg" alt="Hotel facility city 3">
          <div class="facilities__details">
            <span class="facilities__text">Stunning Devon</span>
          </div>
        </div>

        <div class="facilities__card">
          <img src="{{root}}/assets/img/small/mountains-small-4.jpg" alt="Hotel facility city 4">
          <div class="facilities__details">
            <span class="facilities__text">incredible Dover</span>
          </div>
        </div>

      </div>
    </div>

    <div class="tabs-panel " id="panel4">
      <div class="facilities__tab">

        <div class="facilities__card">
          <img src="{{root}}/assets/img/small/relaxing-small-1.jpg" alt="Hotel facility relaxation">
          <div class="facilities__details">
            <span class="facilities__text">Outside pool 1</span>
          </div>
        </div>

        <div class="facilities__card">
          <img src="{{root}}/assets/img/small/relaxing-small-2.jpg" alt="Hotel facility relaxation 2">
          <div class="facilities__details">
            <span class="facilities__text">Outside pool 2</span>
          </div>
        </div>

        <div class="facilities__card">
          <img src="{{root}}/assets/img/small/relaxing-small-3.jpg" alt="Hotel facility relaxation 3">
          <div class="facilities__details">
            <span class="facilities__text">Inside pool</span>
          </div>
        </div>

        <div class="facilities__card">
          <img src="{{root}}/assets/img/small/relaxing-small-4.jpg" alt="Hotel facility relaxation 4">
          <div class="facilities__details">
            <span class="facilities__text">spa</span>
          </div>
        </div>

      </div>
    </div>

  </div>
  
</div>

