
<div class="feature__box feature__box--pic1">
  <div class="feature__cover">
    <span class="feature__btn">more</span>
  </div>
</div>

<div class="feature__box feature__box--text">
  <h3>Outstanding view</h3>
  <span class="feature__text">
      One of UK's finest luxury hotels which combines breathtaking ocean and mountain views, The STAR Hotel is situated on one of the most stunning sites in the Channel Islands.
  </span>
</div>

<div class="feature__box feature__box--pic2">
  <div class="feature__cover">
    <span class="feature__btn">more</span>
  </div>
</div>

<div class="feature__box feature__box--text">
  <h3>Friendly Stuff</h3>
  <span class="feature__text">
      We always ensure our guests feel welcome and comfortable. Knowing they can put their trust in us helps them to perform with confidence. The staff services contribute to their sense of well-being. During their stay, the guests’ enquiries are dealt with in a professional and courteous manner.
  </span>
</div>

  <div class="feature__box feature__box--pic3">
    <div class="feature__cover">
      <span class="feature__btn">more</span>
    </div>
  </div>
  
<div class="feature__box feature__box--text">
  <h3>Hotel Facilities</h3>
  <span class="feature__text">
      This boutique luxury 5 star hotel offers services designed to captivate the guests. Dining at the Club House Restaurant is an exquisite experience of Greek and Mediterranean cuisine, while Maya Restaurant offers creative Asian cuisine on the beachfront. If the guests prefer the privacy of their own villas.
  </span>
</div>
