
<form class="booking__form" id="booking">

  <div class="booking__container">
    <label for="month" class="booking__label">Month</label>
    <span class="booking__display booking__display--month"></span>
    <select name="" class="input-field" id="month">
      <option value="month" selected hidden disabled>month</option>
      <option value="jan">Jan</option>
      <option value="feb">Feb</option>
      <option value="mar">Mar</option>
      <option value="apr">Apr</option>
      <option value="may">May</option>
      <option value="fun">Jun</option>
      <option value="jul">Jul</option>
      <option value="aug">Aug</option>
      <option value="sep">Sep</option>
      <option value="oct">Oct</option>
      <option value="nov">Nov</option>
      <option value="dec">Dec</option>
    </select>
  </div>

  <div class="booking__container">
    <label for="day" class="booking__label">Day</label>
    <span class="booking__display booking__display--day"></span>
    <select name="" class="input-field" id="day">
      <option value="day" selected disabled hidden>day</option>
    </select>
  </div>

  <div class="booking__container">
    <label for="nights" class="booking__label" id="booking__nights">Nights</label>
    <span class="booking__display booking__display--nights"></span>
    <input type="number" class="input-field" id="nights">
  </div>
  
  <div class="booking__container">
    <label for="stay" class="booking__label">Room</label>
    <span class="booking__display booking__display--room"></span>
    <select name="" class="input-field" id="room">
      <option value="room" selected disabled hidden>room</option>
      <option value="6">6</option>
      <option value="5">5</option>
      <option value="4">4</option>
      <option value="3">3</option>
      <option value="2">2</option>
      <option value="1">1</option>

    </select>
  </div>


  <div class="booking__container">
    <button class="button booking__btn">Check rooms</button>
  </div>

</form>
