

<div class="testimonials__about">
  <h2>Clients About Us</h2>
</div>

<div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit >
  
  
  <div class="orbit-wrapper">

    <ul class="orbit-container">
      <li class="is-active orbit-slide testimonials__slide">
        
        <div class="testimonials__container">

          <div class="testimonials__box">
            <div class="testimonials__img ">
              <div>
                <img class="" src="../assets/img/small/face-small-1.jpg">
              </div>
              <span>Karmen,<span>London</span></span>
            </div>
            <p class="featured-testimonials-quotation">5 Star Cleanliness. Has everything that could be needed-excellent. Very comfortable. Everything was more than we expected. Newspaper and continental breakfast was a nice touch..</p>
          </div>
          
          <div class="testimonials__box">
              <div class="testimonials__img ">
                <div>
                  <img class="" src="../assets/img/small/face-small-2.jpg">
                </div>
                <span>Yasmine,<span>Venice</span></span>
              </div>
              <p class="featured-testimonials-quotation">My stay exceeded my expectations...room, comfy-like home. All of the extras are here. The business center is a major convenience-very nice!</p>
            </div>

        </div>

      </li>
      
      <li class="is-active orbit-slide testimonials__slide">
        
        <div class="testimonials__container">

          <div class="testimonials__box">
            <div class="testimonials__img ">
              <div>
                <img class="" src="../assets/img/small/face-small-3.jpg">
              </div>
              <span>Pawel,<span>Poland</span></span>
            </div>
            <p class="featured-testimonials-quotation">Exceeded expectations-very roomy, clean, quiet and convenient to downtown!</p>
          </div>
          
          <div class="testimonials__box">
              <div class="testimonials__img ">
                <div>
                  <img class="" src="../assets/img/small/face-small-4.jpg">
                </div>
                <span>Yasmine,<span>Venice</span></span>
              </div>
              <p class="featured-testimonials-quotation">Dollar for dollar - superior cleanliness and personal, maintenance. Anchorage could use more establishments with the same quality and comparative rates</p>
            </div>

        </div>

      </li>

      <li class="is-active orbit-slide testimonials__slide">
        
        <div class="testimonials__container">

          <div class="testimonials__box">
            <div class="testimonials__img ">
              <div>
                <img class="" src="../assets/img/small/face-small-5.jpg">
              </div>
              <span>Monika,<span>Sweden</span></span>
            </div>
            <p class="featured-testimonials-quotation">Location was perfect! We walked everywhere, shared suite with my sister and we couldn't have been happier with the room and fully equipped kitchen."</p>
          </div>
          
          <div class="testimonials__box">
              <div class="testimonials__img ">
                <div>
                  <img class="" src="../assets/img/small/face-small-6.jpg">
                </div>
                <span>Amy,<span>Austria</span></span>
              </div>
              <p class="featured-testimonials-quotation">This is the nicest room we have ever stayed in. We have stayed in a lot of rooms over the years.</p>
            </div>

        </div>

      </li>
      
    </ul>

  </div>

  <nav class="orbit-bullets">
    <button class="is-active" data-slide="0"><span class="show-for-sr">First slide details.</span><span class="show-for-sr">Current Slide</span></button>
    <button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
    <button data-slide="2"><span class="show-for-sr">Third slide details.</span></button>
  </nav>

</div>
